# Assignment no-6
Data Analytics III
1. Implement Simple Naïve Bayes classification algorithm using Python/R on iris.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on 
the given dataset.

In [51]:
import pandas as pd
df=pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [52]:
from sklearn import  preprocessing
encoder=preprocessing.LabelEncoder()
df['Species']=encoder.fit_transform(df['Species'])

In [53]:
X=df.iloc[:,1:5]
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [54]:
Y=df.Species

In [55]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [58]:
x_train.shape

(120, 4)

In [59]:
x_test.shape

(30, 4)

In [60]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()

In [61]:
classifier.fit(x_train,y_train)

GaussianNB()

In [62]:
y_predict=classifier.predict(x_test)

In [63]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,f1_score,recall_score,mean_squared_error

In [64]:
print(confusion_matrix(y_test,y_predict))

[[11  0  0]
 [ 0 13  0]
 [ 0  1  5]]

In [65]:
print('accuracy score',accuracy_score(y_test,y_predict))

accuracy score 0.9666666666666667

In [66]:
print('Precision',precision_score(y_test,y_predict,average='micro'))

Precision 0.9666666666666667

In [67]:
print('F1 score',f1_score(y_test,y_predict,average='micro'))

F1 score 0.9666666666666667