# Assignment No-5
Data Analytics II
1. Implement logistic regression using Python/R to perform classification on 
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall
on the given dataset.

In [86]:
import pandas as pd
import numpy as np

In [87]:
df=pd.read_csv('Social_Network_Ads.csv')

In [88]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [89]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [90]:
# predicting the user will purchase the product or not

In [91]:
X=df.iloc[:,[2,3]]

In [92]:
Y=df['Purchased']
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [93]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [94]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [95]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)

In [96]:
classifier.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [97]:
y_predict=classifier.predict(x_test)
y_predict

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [98]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,precision_score,f1_score,recall_score,mean_squared_error
cm=confusion_matrix(y_test,y_predict)
print(cm)

[[65  3]
 [ 8 24]]

In [99]:
print("accuracy score",accuracy_score(y_test,y_predict))

accuracy score 0.89

In [100]:
print("recall score",recall_score(y_test,y_predict))

recall score 0.75

In [101]:
print("F1 score",f1_score(y_test,y_predict))

F1 score 0.8135593220338982

In [102]:
print("precision score",precision_score(y_test,y_predict))

precision score 0.8888888888888888

In [103]:
print("mse",mean_squared_error(y_test,y_predict))

mse 0.11

In [104]:
cl=classification_report(y_test,y_predict)
print(cl)

              precision    recall  f1-score   support

           0       0.89      0.96      0.92        68
           1       0.89      0.75      0.81        32

    accuracy                           0.89       100
   macro avg       0.89      0.85      0.87       100
weighted avg       0.89      0.89      0.89       100